
<div class="app-container app-padded">
    <div>
      Dein Fortschritt wird im "localstorage" gespeichert. Klicke <span class="delete-button" (click)="onClickDelete()">hier</span> um deine Fortschritte zu löschen.
    </div>
    <br>
    <div>
      Daten werden anonym gesammelt.
    </div>
    <br>
    <div>
      Beispiele und Kompetenzbeschreibungen wurden grossteils von <a href="https://www.duden.de/sprachwissen/rechtschreibregeln/komma">https://www.duden.de/sprachwissen/rechtschreibregeln/komma</a> übernommen.
    </div>
    <br>
    <div>
      Kontakt: <a href="mailto:info@kommatrainer.de">info@kommatrainer.de</a>, Daniel Niederberger
    </div>
</div>