@import '../../../variables';

:host {
  display: inline-block;
}

.content {
  white-space: pre-wrap;
  font-size: 16px;
}

%circle {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  left: -5px;
  border-radius: 50%;
  opacity: 0.3;
  top: 0px;
}

.separator-container {

  position: relative;

  .token {
    border-radius: 2px;
    width: 6px;
  }

  &.correct {
    &::after {
      @extend %circle;
      background: $color-correct;
    }
  }

  &.wrong {
    &::after {
      @extend %circle;
      background: $color-wrong;
    }
  }

  &.optional {
    &::after {
      @extend %circle;
      border: 2px dashed $color-correct;
      opacity: 0.6;
    }
  }

}
