@import '../../variables';

:host {
  display: block;
  background: $color-bg-white;
  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.comp {
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.comp-key {
  font-weight: bold;
}

.competences {
  @media(min-width: 600px) {
    column-count: 2;
  }
  .comp {
    display: inline-block;
  }
}