@import '../../variables';

:host {
  display: block;
  text-align: center;
  .wrapper {
    border-radius: 20px;
    background: $color-marker;
    color: $color-marker-complement;
    display: inline-flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    margin-bottom: 10px;
  }
}

